- if @paginated_books.total_pages > 1
  = paginate(@paginated_books)
%ul
  - @paginated_books.each do |book|
    %li
      %p
        = link_to("#{book.title} - #{book.author_name}", "")
      %p
        = @snippet.execute(book.content).collect {|snippet| "...#{snippet}..."}.join(" / ").html_safe
- if @paginated_books.total_pages > 1
  = paginate(@paginated_books)
