- if @paginated_books.total_pages > 1
  = paginate(@paginated_books)
%p= "#{@paginated_books.n_records} books"
%ul
  - @paginated_books.each do |book|
    %li
      %p
        = link_to("#{book.title} - #{book.author.name}", book.card_url)
      %p
        = @snippet.execute(book.content).collect {|snippet| "...#{snippet}..."}.join(" / ").html_safe
- if @paginated_books.total_pages > 1
  = paginate(@paginated_books)
