%p
  = link_to("Powered by Groonga #{groonga_version}", "http://groonga.org/ja/")
  and
  = link_to("Rroonga #{rroonga_version}", "http://ranguba.org/ja/#about-rroonga")
  \/
  = link_to("GitHub Project", "https://github.com/myokoym/aozoraroonga")
