%p
  最終更新日: #{@last_update_time.strftime("%Y-%m-%d")}
  \/
  Powered by
  = link_to("Groonga #{groonga_version}", "http://groonga.org/ja/")
  and
  = link_to("Rroonga #{rroonga_version}", "http://ranguba.org/ja/#about-rroonga")
  \/
  = link_to("GitHub Project", "https://github.com/myokoym/aozoraroonga")
