%p= link_to("戻る", ".")
%h3 ブックマーク一覧
- if @books && !@books.empty?
  %ul
    - @books.each do |book|
      - unless book
        - next
      %li
        %h4= link_to(book.title, book.card_url)
        %h5
          - authors = book.authors.map(&:name).join(" ")
          %p.author
            - unless authors.blank?
              = authors
          %p.bookmark
            %a{href: "javascript:void(0)", onclick: "removeBookmark('#{book._key}');"} ★
        %p
          [
          = link_to("いますぐXHTML版で読む", book.html_url)
          ]
          [
          = link_to("青空 in Browsersで縦書き表示", "http://aozora.binb.jp/reader/main.html?cid=#{book._key.to_i}")
          ]
        %br
- else
  ブックマークがありません。
%hr
%p
  %h3 ブックマークの使い方
  %dl
    %dt 追加方法
    %dd 検索結果の白星（☆）をクリックするとブックマークに追加されます。
    %dt 削除方法
    %dd ブックマーク一覧の黒星（★）をクリックするとブックマークから削除されます。
    %dt 保存場所
    %dd ブックマーク情報はブラウザのストレージに保存されます。ブラウザを変えると別ユーザー扱いになるのでご注意ください。
