- if url_for(only_path: true) != "/"
  %div.visible-xs
    = render :_faq, layout: false
  %div.hidden-xs
    %p
      [
      = link_to("よくある質問（FAQ）", "#faq")
      ]
%p#search-form
  = render :_search_form, layout: false
- if @books
  .row
    .col-sm-7
      = render :_books, layout: false
    - unless @books.empty?
      .col-sm-3
        %p#conditions
          = render :_conditions, layout: false
      .col-sm-2
        %p#authors
          = render :_authors, layout: false
- if url_for(only_path: true) != "/"
  %div.hidden-xs
    = render :_faq, layout: false
    %p
      [
      = link_to("ページ上部に移動", "#")
      ]
  %p.visible-xs
    [
    = link_to("よくある質問（FAQ）", "#")
    ]
- else
  %div
    = render :_faq, layout: false
